appName: hello-world
domain: istio.localhost
https: false

replicaCount: 1

image:
  repository: mrparkers/hello-world-canary
  tag: error-50
  pullPolicy: IfNotPresent

enableVirtualservice: false

service:
  type: ClusterIP

canary:
  progressDeadlineSeconds: 90
  istioIngress:
    enabled: true
  analysis:
    # schedule interval (default 60s)
    interval: 15s
    # max number of failed metric checks before rollback
    threshold: 5
    # max traffic percentage routed to canary
    # percentage (0-100)
    maxWeight: 50
    # canary increment step
    # percentage (0-100)
    stepWeight: 10
  # names of metrics
  metrics:
    successRate: request-success-rate
    latency: request-duration
  thresholds:
    # minimum req success rate (non 5xx responses)
    # percentage (0-100)
    successRate: 99
    # maximum req duration P99
    # milliseconds
    latency: 500
